<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Einloggen</title>
  <link rel="stylesheet" href="/public/infima.css" />
</head>
<body>

<div class="container padding-top--lg">

  <h1>Bitte einloggen</h1>

  <p>Bitte logge Dich ein, um die Inhalte zu sehen.</p>

  <div class="padding-bottom--md">
    <button type="button" class="button button--primary" id="loginWithGithub">
      Login mit GitHub
    </button>

    <button type="button" class="button button--primary" id="loginWithGoogle">
      Login mit Google
    </button>

    <button type="button" class="button button--primary" id="loginWithMicrosoft">
      Login mit Microsoft
    </button>
  </div>

  <h2>FAQ</h2>

  <h3>Wie kann ich mir einen Account machen?</h3>

  <p>Es ist nicht nötig, einen Account anzulegen. Wenn Du einen Google-Account hast,<br />
  drück auf "Login mit Google", wenn Du einen Github-Account hast, drück auf<br />
  "Login mit GitHub". Folge danach jeweils den Anweisungen, die Du siehst.</p>

  <p>Wenn Du weder einen Account bei Google noch bei Github hast, drück einfach eine<br />
  der beiden Schaltflächen und lege Dir einen neuen Account bei Google oder GitHub<br />
  an (ich empfehle GitHub, das ist auch nützlich für die Bearbeitung der Inhalte<br />
  und den Zugang zum Forum). Folge danach wieder den Anweisungen, die Du siehst.<br />
  Falls Du dabei stecken bleibst, komm wieder auf diese Seite und klick wieder auf<br />
  die gleiche Schaltfläche wie zuvor.</p>

  <h3>Warum bietest du keinen Login mit Benutzername und Passwort an?</h3>

  <p>Der Login mit Benutzername und Passwort, bzw. E-Mail und Passwort ist technisch<br />
  überholt, weil er für Euch unbequem und unsicher und für mich als<br />
  Seitenbetreiber sehr teuer ist. Die Authentifizierung über Anbieter wie Google<br />
  oder Github ist dagegen günstig für mich und bequem und sicher für Euch.</p>

  <h4>Unbequem</h4>

  <p>Würde ich es Euch erlauben, Euch mit E-Mail-Adresse und Passwort anzumelden,<br />
  müsstet ihr Euch ein neues Passwort ausdenken oder erstellen lassen. Dieses<br />
  müsstet ihr entweder aufschreiben oder speichern. Alles sehr umständlich.<br />
  Außerdem würden viele Nutzer:innen ein Passwort verwenden, was sie bereits schon<br />
  woanders verwendet haben, was sehr<br />
  <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Sichere-Passwoerter-erstellen/Umgang-mit-Passwoertern/umgang-mit-passwoertern_node.html#:~:text=Viele%20Anwenderinnen%20und,ebenfalls%20verwendet%20wird." target="_blank" rel="noopener noreferrer">gefährlich</a><br />
  ist.</p>

  <h4>Unsicher</h4>

  <p>Um den Zugang korrekt abzusichern, müsste ich zusätzlich<br />
  Zwei-Faktor-Authentifizierung implementieren und anbieten. Das ist aber aus<br />
  Aufwandsgründen nicht abbildbar. Insofern wäre nur ein einfacher Login mit<br />
  E-Mail-Adresse und Passwort möglich, was nicht sicher ist.</p>

  <h4>Kosten</h4>

  <p>Login mit E-Mail-Adresse und Passwort bedeutet, dass ich:</p>

  <ul>
    <li><strong>Passwort-Resets</strong> anbieten müsste, was kompliziert und wartungsintensiv ist.</li>
    <li><strong>E-Mails</strong> verschicken müsste (z. B. für Bestätigungen oder<br />
        Passwortänderungen), wofür ein zuverlässiger Mailserver notwendig ist – das<br />
        kostet Geld und erfordert Pflege.</li>
    <li><strong>Sicherheitsmaßnahmen</strong> wie Hashing und Schutz gegen Angriffe ständig aktuell<br />
        halten müsste.</li>
  </ul>

  <p>Das alles sind Ressourcen, die ich lieber in andere Bereiche investieren möchte.</p>

  <h4>Warum nutzt du Google und GitHub für den Login?</h4>

  <p>Die beiden Anbieter sind seriös und sicher. Um möglichst einfach an den Inhalten<br />
  mitwirken zu können braucht man ohnehin einen Github-Account. Deshalb habe ich<br />
  Github eingebunden. Viele wollen aber nur lesen. Für diese Leute habe ich Google<br />
  eingebunden. Man kann auch beides gleichzeitig verwenden.</p>

  <p>Sowohl Github als auch Google bieten modernste Sicherheit für den Account und<br />
  haben 2-Faktor-Authentifizierung und unterstützen sogar<br />
  <a href="https://www.bsi.bund.de/DE/Themen/Verbraucherinnen-und-Verbraucher/Informationen-und-Empfehlungen/Cyber-Sicherheitsempfehlungen/Accountschutz/Passkeys/passkeys-anmelden-ohne-passwort_node.html" target="_blank" rel="noopener noreferrer">Passkeys</a>.</p>

  <p>Ich kann auch weitere Anbieter einbinden. Der Dienst, den ich benutze,<br />
  unterstützt die folgenden Anbieter zusätzlich zu Google und GitHub:</p>

  <ul>
    <li>Microsoft</li>
    <li>Facebook</li>
    <li>GitLab</li>
    <li>Discord</li>
    <li>Spotify</li>
    <li>u.v.m.</li>
  </ul>

  <p>Wenn du dir einen dieser Anbieter wünschst, schreibe mir einfach eine E-Mail an<br />
  <strong><a href="mailto:post@levinkeller.de">post@levinkeller.de</a></strong>. Ich prüfe dann, ob ich<br />
  diesen Anbieter für den Login hinzufügen kann. Das ist allerdings relativ<br />
  aufwendig. Prüfe bitte, ob es nicht doch leichter ist, wenn Du Dir einfach einen<br />
  Google- oder Github-Account anlegst.</p>

</div>

<script src="/public/pocketbase.umd.js"></script>

<script>
  const pb = new PocketBase("<%= pocketbaseUrl %>");
  const loginWithGithub = () =>
    pb
      .collection('users')
      .authWithOAuth2({ provider: 'github' })
      .then(saveTokenFromAuthStoreAsCookieAndReloadPage);

  const loginWithGoogle = () =>
    pb
      .collection('users')
      .authWithOAuth2({ provider: 'google' })
      .then(saveTokenFromAuthStoreAsCookieAndReloadPage);

  const saveTokenFromAuthStoreAsCookieAndReloadPage = () =>
    fetch('/api/cookie', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ token: pb.authStore.token }),
    }).then(() => window.location.reload());

  document.addEventListener('DOMContentLoaded', () => {
    document
      .getElementById('loginWithGoogle')
      .addEventListener('click', loginWithGoogle);
    document
      .getElementById('loginWithGithub')
      .addEventListener('click', loginWithGithub);
  });
</script>

<script>
  const pbMicrosoft = new PocketBase("<%= pocketbaseUrlMicrosoft %>");

  const loginWithMicrosoft = () =>
    pbMicrosoft
      .collection('users')
      .authWithOAuth2({ provider: 'microsoft' })
      .then(saveTokenFromAuthStoreAsCookieAndReloadPageMicrosoft);

  const saveTokenFromAuthStoreAsCookieAndReloadPageMicrosoft = () =>
    fetch('/api/cookie', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ token: pbMicrosoft.authStore.token }),
    }).then(() => window.location.reload());

  document.addEventListener('DOMContentLoaded', () => {
    document
      .getElementById('loginWithMicrosoft')
      .addEventListener('click', loginWithMicrosoft);
  });
</script>

</body>
</html>
